.app {
    margin-top: 50px;
}

.ui.card.custom-card {
    background-color: deepskyblue;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.ui.card.custom-card.selected-card {
    background-color: yellow;
}

.ui.cards {
    overflow-y: scroll;
    height: 500px;
}

.loading {
    font-size: 20px;
}